@import url("~halfmoon/css/halfmoon.min.css");

body {
  margin: 0;
  font-family: "Jura", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}
